### âœ… What is a Loop?

Loops are used to **repeat a block of code** multiple times until a certain condition is met.

### ðŸ”¹ Types of Loops in Python:

1. **for loop**: Iterates over a sequence (list, tuple, string, range, etc.)
2. **while loop**: Repeats as long as a condition is `True`

### âœ… `for` Loop

Used to iterate over a sequence directly.

In [ ]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

### Iterating over string

In [ ]:
for char in "Python":
    print(char)

P
y
t
h
o
n

### using range()

In [ ]:
# range(start, stop, step)
for i in range(1, 6):
    print(i)

1
2
3
4
5

### With step size

In [ ]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

### âœ… `while` Loop

Executes a block repeatedly **while the condition is True**.

In [ ]:
count = 1
while count <= 5:
    print("Count:", count)
    count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

### Example 2: Sum of numbers

In [ ]:
total = 0
num = 1

while num <= 5:
    total += num
    num += 1

print("Total sum:", total)

Total sum: 15

### âœ… Loop Control Statements:

1. **break**: Exit the loop immediately
2. **continue**: Skip the current iteration and continue
3. **pass**: Placeholder statement, does nothing

###Using breaks

In [ ]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

### Using continue

In [ ]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

### Using **pass**

In [ ]:
for i in range(1, 4):
    if i == 2:
        pass  # Placeholder: we can add code later
    print("Iteration:", i)

Iteration: 1
Iteration: 2
Iteration: 3

### âœ… Nested Loops:

A loop inside another loop.

In [ ]:
for i in range(1, 4):
    for j in range(1, 3):
        print(f"i={i}, j={j}")

i=1, j=1
i=1, j=2
i=2, j=1
i=2, j=2
i=3, j=1
i=3, j=2

### Summary

| Loop Type   | Usage                                  |
|-------------|----------------------------------------|
| for         | Iterates over a sequence               |
| while       | Repeats while condition is True         |
| break       | Exits the loop                         |
| continue    | Skips current iteration                |
| pass        | Placeholder, does nothing              |