### âœ… What are Operators?

Operators are **symbols** that perform operations on variables and values.

### ðŸ”¹ Types of Operators

1. **Arithmetic Operators**: `+`, `-`, `*`, `/`, `//`, `%`, `**`
2. **Comparison Operators**: `==`, `!=`, `>`, `<`, `>=`, `<=`
3. **Logical Operators**: `and`, `or`, `not`
4. **Assignment Operators**: `=`, `+=`, `-=`, `*=`, `/=`
5. **Membership Operators**: `in`, `not in`
6. **Identity Operators**: `is`, `is not`

### Artimetic Operators Example

In [ ]:
a = 10
b = 3

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Power:", a ** b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Power: 1000

### Comparision Operators Example

In [ ]:
x = 5
y = 8

print("Equal:", x == y)
print("Not equal:", x != y)
print("Greater than:", x > y)
print("Less than or equal:", x <= y)

Equal: False
Not equal: True
Greater than: False
Less than or equal: True

### Logical Operators Example

In [ ]:
age = 20
has_id = True

print("Eligible:", age >= 18 and has_id)
print("Minor or no ID:", age < 18 or not has_id)

Eligible: True
Minor or no ID: False

### Membership and Identity Operators

In [ ]:
fruits = ["apple", "banana", "cherry"]
print("Is 'apple' in fruits?", "apple" in fruits)
print("Is 'grape' not in fruits?", "grape" not in fruits)

x = [1, 2, 3]
y = x
z = [1, 2, 3]

print("x is y:", x is y)
print("x is z:", x is z)

Is 'apple' in fruits? True
Is 'grape' not in fruits? True
x is y: True
x is z: False

### âœ… Input and Output Functions

- **input()**: Used to take user input (always returns string)
- **print()**: Used to display output

In [ ]:
# User input is always string
name = input("Enter your name: ")
age = input("Enter your age: ")

print("Name:", name)
print("Age:", age)
print("Type of age:", type(age))

Enter your name: aarthi
Enter your age: 23
Name: aarthi
Age: 23
Type of age: <class 'str'>

### Converting input type

In [ ]:
# Convert string input to int
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

sum = num1 + num2
print("Sum:", sum)

Enter first number: 1
Enter second number: 2
Sum: 3

### Printing and Formatting

In [ ]:
product = "Laptop"
price = 55000

print("Product:", product, "| Price:", price)
print(f"The {product} costs {price} INR")  # f-string formatting

Product: Laptop | Price: 55000
The Laptop costs 55000 INR