### What is a Variable?

A **variable** is a named location used to store data in memory. In Python:
- No need to declare the type explicitly
- Variables are created when you assign a value

In [ ]:
# Variable assignment
x = 10 # Number assignment
name = "Python" # String Assignment
pi = 3.14 # Decimal Number assignment

print(x) # 10
print(name) # Python
print(pi) # 3.14

10
Python
3.14

### üîπ Rules for Naming Variables

- Must start with a letter or underscore (`_`)
- Cannot start with a number
- Can contain letters, numbers, and underscores
- Case-sensitive: `name` and `Name` are different

‚úÖ Valid: `name`, `_temp`, `value1`  
‚ùå Invalid: `1value`, `user-name`, `class` (reserved word)

### Built-in Data Types (Basic)

| Type      | Example           | Description                         |
|-----------|-------------------|-------------------------------------|
| int       | `10`              | Integer numbers                     |
| float     | `3.14`            | Floating point numbers              |
| str       | `"hello"`         | Text (string of characters)         |
| bool      | `True`, `False`   | Boolean values                      |

In [ ]:
# Examples of basic data types
a = 10          # int
b = 3.5         # float
c = "Python"    # str
d = True        # bool

# Print type of each
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### üî∏ String Example

In [ ]:
language = "Python Programming"
print("First letter:", language[0])
print("Length:", len(language))

First letter: P
Length: 18

### üî∏ Boolean Example

In [ ]:
x = 5
y = 10
result = x < y
print("Is x less than y?", result)
print("Type of result:", type(result))

Is x less than y? True
Type of result: <class 'bool'>

### ‚úÖ What is Type Conversion?

Type conversion is the process of converting the **data type** of a value into another.

üîπ Two types:
- **Implicit Conversion**: Done automatically by Python
- **Explicit Conversion**: Done manually by programmer using functions

In [ ]:
# Implicit: Python promotes int to float automatically
a = 5        # int
b = 2.5      # float
result = a + b

print("Result:", result)
print("Type of result:", type(result))  # float

Result: 7.5
Type of result: <class 'float'>

In [ ]:
# Convert str to int
num_str = "100"
num_int = int(num_str)

print("String:", num_str, "| Type:", type(num_str))
print("Converted:", num_int, "| Type:", type(num_int))

String: 100 | Type: <class 'str'>
Converted: 100 | Type: <class 'int'>

In [ ]:
# Convert float to int (truncates decimal part)
f = 5.99
i = int(f)

print("Float:", f)
print("Converted to int:", i)

Float: 5.99
Converted to int: 5

In [ ]:
# Convert int to string
age = 25
text = "Age is " + str(age)
print(text)

Age is 25

üî∏ Invalid Conversion (Example)

In [ ]:
# Will raise an error if the string is not numeric
invalid_str = "abc"
# int(invalid_str)   # Uncommenting this will raise ValueError
print(invalid_str)

abc

### Summary


| Concept          | Description                              | Function Used       |
|------------------|------------------------------------------|---------------------|
| int()            | Convert to integer                       | `int("10")`         |
| float()          | Convert to float                         | `float("3.14")`     |
| str()            | Convert to string                        | `str(25)`           |
| bool()           | Convert to boolean                       | `bool(0)` ‚Üí False   |
| type()           | Returns type of variable                 | `type(x)`           |