
# Exercise 1: Variables and Printing

Create three variables:

name (string),

age (integer),

height (float).

Print a sentence like:
"My name is John, I am 25 years old, and I am 5.9 feet tall."

In [ ]:
# Solution
name = "John"
age = 25
height = 5.9

print(f"My name is {name}, I am {age} years old, and I am {height} feet tall.")

My name is John, I am 25 years old, and I am 5.9 feet tall.

#Exercise 2: Identifying Data Types

Given the variables:

x = 42<br>
y = 3.14<br>
z = "Hello"<br>
w = True


Write code to print the type of each variable using the type() function.

In [ ]:
# Solution
x = 42
y = 3.14
z = "Hello"
w = True

print(type(x))  # <class 'int'>
print(type(y))  # <class 'float'>
print(type(z))  # <class 'str'>
print(type(w))  # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

#Exercise 3: Simple Type Conversion

Take user input for their age (string by default) and:

Convert it into an integer.

Add 5 to the age.

Print: "In 5 years, you will be X years old."

In [ ]:
# Solution
age = input("Enter your age: ")   # input is string
age_int = int(age)                # convert to int
future_age = age_int + 5

print(f"In 5 years, you will be {future_age} years old.")

Enter your age: 10
In 5 years, you will be 15 years old.

#Exercise 4: Mixing Data Types

You are given:

num1 = "10"
num2 = 5


Convert num1 into an integer and add it to num2.

Convert num2 into a string and concatenate it with num1.

Print both results.

In [ ]:
# Solution
num1 = "10"
num2 = 5

# Convert num1 to int and add
sum_result = int(num1) + num2

# Convert num2 to str and concatenate
concat_result = num1 + str(num2)

print("Sum:", sum_result)            # 15
print("Concatenation:", concat_result)  # "105"

Sum: 15
Concatenation: 105

#Exercise 5: Mini Challenge ‚Äì Temperature Conversion

Ask the user for a temperature in Celsius (float).
Convert it into Fahrenheit using the formula:

ùêπ=
(
ùê∂
√ó
9/
5
)
+
32

Print the result with a message like: "25.0¬∞C is equal to 77.0¬∞F"

In [ ]:
# Solution
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32

print(f"{celsius}¬∞C is equal to {fahrenheit}¬∞F")

Enter temperature in Celsius: 25
25.0¬∞C is equal to 77.0¬∞F