##Exercise 1: List Creation and Basic Access

Task:
Create a list of 5 fruits. Print the first fruit, the last fruit, and the total number of fruits.

In [ ]:
# Creating a list
fruits = ["apple", "banana", "cherry", "mango", "orange"]

# Accessing elements
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])

# Length of the list
print("Total number of fruits:", len(fruits))

First fruit: apple
Last fruit: orange
Total number of fruits: 5

##Exercise 2: Creating Lists & Tuples

Task:

Create a list of your 5 favorite movies.

Create a tuple of 3 countries you want to visit.

Print both collections.

In [ ]:
movies = ["Inception", "Interstellar", "Avatar", "Titanic", "The Matrix"]
countries = ("Japan", "Italy", "Canada")

print("Movies list:", movies)
print("Countries tuple:", countries)

Movies list: ['Inception', 'Interstellar', 'Avatar', 'Titanic', 'The Matrix']
Countries tuple: ('Japan', 'Italy', 'Canada')

##Exercise 3: Slicing Lists & Tuples

Task:
Given:

numbers = [5, 10, 15, 20, 25, 30, 35]<br>
days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")

--Question--<br>
Print the first three numbers.

Print the last three days.

Print every second number.

Print the weekend days using slicing.

In [ ]:
numbers = [5, 10, 15, 20, 25, 30, 35]
days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")

print("First three numbers:", numbers[:3])
print("Last three days:", days[-3:])
print("Every second number:", numbers[::2])
print("Weekend days:", days[-2:])

First three numbers: [5, 10, 15]
Last three days: ('Fri', 'Sat', 'Sun')
Every second number: [5, 15, 25, 35]
Weekend days: ('Sat', 'Sun')



##Exercise 4: Nesting

Task:
Create a list that contains student information:

["Bob", 21, ("Math", "Science", "History")]


Print the student’s name.

Print the student’s age.

Print the second subject.

In [ ]:
student = ["Bob", 21, ("Math", "Science", "History")]

print("Name:", student[0])
print("Age:", student[1])
print("Second subject:", student[2][1])

Name: Bob
Age: 21
Second subject: Science

##Exercise 5: List Methods

Task:
Start with an empty list: nums = []

Append numbers 10, 20, 30.

Insert 15 at index 1.

Remove 20.

Reverse the list.

Print the final list.

In [ ]:
nums = []

nums.append(10)
nums.append(20)
nums.append(30)

nums.insert(1, 15)
nums.remove(20)

nums.reverse()

print("Final list:", nums)

Final list: [30, 15, 10]

##Exercise 6: Tuple Immutability

Task:
Create a tuple:

colors = ("red", "green", "blue", "yellow")


Print the first two colors.

Try to change the first element to "black" and handle the error.

In [ ]:
colors = ("red", "green", "blue", "yellow")

print("First two colors:", colors[:2])

try:
    colors[0] = "black"
except TypeError as e:
    print("Error:", e)

First two colors: ('red', 'green')
Error: 'tuple' object does not support item assignment